<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <style>
        .demo-side {
            position: relative;
            transition: all .3s;
        }
        .demo-side.show {
            padding-left: 120px;
            position: relative;
        }

        .demo-side:before {
            content: "假设这是侧边栏, treeTable使用了与layui数据表格完全不同的列宽分配方式, 由浏览器来分配, 所以当容器宽度变化后会自动适应, 对单页面系统非常友好";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -90px;
            width: 105px;
            visibility: hidden;
            line-height: 1.5;
        }

        .demo-side.show:before {
            visibility: visible;
        }
    </style>
</head>
<body>
    <div class="page-wrapper" style="padding-top: 30px">
        <form class="layui-form">
            <div class="layui-inline">
                <label class="layui-form-label">菜单名称：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="searchMenuName" name="searchMenuName" placeholder="菜单名称"
                           width="80px">
                </div>
            </div>
            <div class="layui-inline">
                    <label class="layui-form-label">菜单状态：</label>
                <div class="layui-input-inline">
                <select id="searchvisible" name="searchvisible">
                    <option value="">请选择</option>
                    <option value="2">所有</option>
                    <option value="0">可见</option>
                    <option value="1">隐藏</option>
                </select>
                </div>
            </div>


            <div class="layui-inline">
                <button id="btnSearch" class="layui-btn-sm layui-btn-radius layui-btn-primary" lay-submit="search_submits" lay-filter="search_filter">
                    <i class="layui-icon">&#xe615;搜索</i>
                </button>
                 <button type="reset" id="btnClearSearch" class="layui-btn-sm layui-btn-radius layui-btn-primary">
                     <i class="layui-icon">&#xe9aa;重置</i>
                 </button>
            </div>
        </form>
    </div>
    <div class="page-wrapper">
        <div class="demo-side">
            <table id="demoTreeTb"></table>
        </div>
    </div>







    <form class="layui-form" action="" id="save_menu_form" style="display: none" >
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-inline">
                <select name="menuId" id="topMenu" lay-verify="required">
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">菜单类型</label>
            <div class="layui-input-block">
                <input type="radio" name="menuType" value="M" title="目录">
                <input type="radio" name="menuType" value="F" title="按钮">
                <input type="radio" name="menuType" value="C" title="菜单" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单状态</label>
            <div class="layui-input-block">
                <input type="radio" name="visible" value="0" title="显示">
                <input type="radio" name="visible" value="1" title="隐藏" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-inline">
                <input type="text" id="menuName" name="menuName" required lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请求地址</label>
            <div class="layui-input-block">
                <input type="text" name="url" required  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限标识</label>
            <div class="layui-input-block">
                <input type="text" name="perms"   autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示排序</label>
            <div class="layui-input-block">
                <input type="text" name="orderNum" required  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit id="save2" lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>







    <form class="layui-form" action="" id="update_menu_form" style="display: none" lay-filter="example" >
        <input type="hidden" name="menuId">
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block">
                <input type="text" name="parentName" id="parentName" required readonly  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单类型</label>
            <div class="layui-input-block">
                <input type="radio" name="menuType" value="M" title="目录">
                <input type="radio" name="menuType" value="F" title="按钮">
                <input type="radio" name="menuType" value="C" title="菜单" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单状态</label>
            <div class="layui-input-block">
                <input type="radio" name="visible" value="0" title="显示">
                <input type="radio" name="visible" value="1" title="隐藏" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-inline">
                <input type="text" name="menuName" required lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请求地址</label>
            <div class="layui-input-block">
                <input type="text" name="url" required  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限标识</label>
            <div class="layui-input-block">
                <input type="text" name="perms"   autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示排序</label>
            <div class="layui-input-block">
                <input type="text" name="orderNum" required  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="updateFormDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>



    <!-- 表格操作列 -->
    <script type="text/html" id="tbBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">
            <i class="layui-icon">&#xe609;修改</i>
        </a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
            <i class="layui-icon">&#x1006;删除</i>
        </a>
    </script>
    <script>


        layui.config({
            base: '/layui/treetable-lay/'      //自定义layui组件的目录
        }).extend({ //设定组件别名
            treeTable:   'treeTable'
        });
        layui.use(['layer', 'util', 'form', 'treeTable','jquery'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var util = layui.util;
            var treeTable = layui.treeTable;
            $('body').removeClass('layui-hide');
            var form = layui.form;
            form.render();

            // 渲染表格
            var insTb = treeTable.render({
                elem: '#demoTreeTb',
                url: '/menu/findAllMenusTreeTable',
                toolbar: 'default',
                height: '400',
                tree: {
                    iconIndex: 2,
                    isPidData: true,
                    idName: 'menuId',
                    pidName: 'parentId'
                },
                defaultToolbar: ['filter', 'print', 'exports', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [
                    [
                        {type: 'numbers'},
                        {type: 'checkbox'},
                        {field: 'menuName', title: '菜单名称', minWidth: 140},
                        {field: 'orderNum', title: '排序', minWidth: 30},
                        {field: 'url', title: '请求地址', minWidth: 80},
                        {field: 'menuType', title: '类型', minWidth: 50,
                            templet: function (d) {
                                if (d.menuType == 'M') {
                                    return '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs">目录</button>'
                                } else if(d.menuType == 'C') {
                                    return '<button type="button" class="layui-btn  layui-btn-xs">菜单</button>'
                                }else {
                                    return '<button type="button" class="layui-btn  layui-btn-warm layui-btn-xs">按钮</button>'
                                }
                            }},
                        {field: 'visible', title: '可见', minWidth: 50,
                            templet: function (d) {
                                if (d.visible == 0) {
                                    return '<button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs">显示</button>'
                                } else {
                                    return '<button type="button" class="layui-btn layui-btn-radius  layui-btn-warm layui-btn-xs">隐藏</button>'
                                }
                            }
                        },
                        {field: 'perms', title: '权限标识', width:60},
                        {align: 'center', toolbar: '#tbBar', title: '操作', width: 160}
                    ]
                ],
                style: 'margin-top:0;'
            });
            // 清除搜索
            $('#btnClearSearch').click(function () {
                insTb.clearFilter();
                insTb.reload({
                    where: {//这里传参  向后台
                        searchMenuName: null,
                        searchvisible:null
                    }
                });
            });


            //监听查询表单的提交事件
            form.on('submit(search_filter)', function(data){
                var formData = data.field;
                var searchMenuName=formData.searchMenuName;
                var searchvisible=formData.searchvisible;
                console.log(searchMenuName);
                if(searchvisible==2){
                    var searchvisible=null;
                }
                   console.log(searchvisible);
                //数据表格重载
                insTb.reload( {
                     where: {//这里传参  向后台
                             searchMenuName: searchMenuName,
                             searchvisible:searchvisible
                    }
                    /*   , url: '/user/showUserSearch'//后台做模糊搜索接口路径
                       , method: 'post'*/
                });
                return false;//false：阻止表单跳转  true：表单跳转
            });

            // 工具列点击事件
            treeTable.on('tool(demoTreeTb)', function (obj) {
                var data = obj.data;
                var event = obj.event;
                var menuId=data.menuId;
                if (event === 'del') {
                    $.ajax({
                        url: '/menu/deleteMenu',
                        dataType: 'json',
                        type: 'POST',
                        data: {menuId:menuId},
                        success:function (data) {
                            layer.msg(data.msg);
                            insTb.reload();//重新加载表格数据
                        }
                    })
                } else if (event === 'edit') {
                    var parentId=data.parentId;
                    $.ajax({
                        url: '/menu/selectParentName',
                        dataType: 'json',
                        type: 'POST',
                        async:false,
                        data: {parentId:parentId},
                        success:function (data) {
                            $("#parentName").val(data.menuName)
                        }

                    });
                    form.val('example', {
                        "menuId": data.menuId,
                        "menuType":data.menuType,
                        "menuName":data.menuName,
                        "visible":data.visible,
                        "url": data.url,
                        "perms": data.perms,
                        "orderNum": data.orderNum
                    });

                    layer.open({
                        title: '编辑菜单',
                        type: 1,
                        content: $('#update_menu_form'),
                        area: ['500px', '500px']
                    });
                }
            });
            // 头部工具栏点击事件
            treeTable.on('toolbar(demoTreeTb)', function (obj) {
                switch (obj.event) {
                    case 'add':
                        $.ajax({
                            url: '/menu/selectParent',
                            dataType: 'json',
                            type: 'POST',
                            data: {},
                            success:function (data) {
                                console.log(data);
                                for(var i=0;i<data.length;i++){
                                    var area=data[i];
                                    var html="<option value=\""+area.menuId+"\">"+area.menuName+"</option>";
                                    $("#topMenu").append(html);
                                    form.render();
                                }
                            }
                        });
                        layer.open({
                            title: '添加菜单',
                            type: 1,
                            content: $('#save_menu_form'),
                            area: ['500px', '500px']
                        });
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                    case 'LAYTABLE_TIPS':
                        layer.msg('提示');
                        break;
                }
            });



            //监听保存部门表单的提交
            form.on('submit(formDemo)', function (data) {
                //layer.msg(JSON.stringify(data.field));
                //data.field.status = data.field.status ? 0:1;
                $.ajax({
                    url: '/menu/saveMenu',
                    dataType: 'json',
                    type: 'POST',
                    data: data.field,
                    success: function (result) {
                        layer.closeAll();//关闭对话框
                        layer.msg(result.msg);
                        insTb.reload();//重新加载表格数据
                        $("#save_menu_form")[0].reset();//重置表单
                    }
                });
                return false;
            });




            //监听修改部门表单的提交
            form.on('submit(updateFormDemo)', function (data) {
                var menuId=data.field.menuId;
                var menuType=data.field.menuType;
                var visible=data.field.visible;
                var menuName=data.field.menuName;
                var url=data.field.url;
                var perms=data.field.perms;
                var orderNum=data.field.orderNum;
                $.ajax({
                    url: '/menu/updateMenu',
                    dataType: 'json',
                    type: 'POST',
                    data: {menuId:menuId,menuType:menuType,visible:visible,
                           menuName:menuName,url:url,perms:perms,orderNum:orderNum},
                    success: function (result) {
                        layer.closeAll();//关闭对话框
                        layer.msg(result.msg);
                        insTb.reload();//重新加载表格数据
                    }
                });
                return false;
            });


        });
    </script>
</body>
</html>